<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: page-header"></div>
<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table class="job-listing" th:each="job : ${jobs}" >
        <tbody th:each="field : ${job}">
        <tr>
            <td  th:text="'ID: '+${job.getId()}"></td>
        </tr>
        <tr>
            <td  th:text="'Name: '+${job.getName()}"></td>
        </tr>
        <tr>
            <td  th:text="'Employer: '+${job.getEmployer()}"></td>
        </tr>
        <tr>
            <td  th:text="'Location: '+${job.getLocation()}"></td>
        </tr>
        <tr>
            <td  th:text="'Position Type: '+${job.getPositionType()}"></td>
        </tr>
        <tr>
            <td  th:text="'Skill: '+${job.getCoreCompetency()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
